pkgbase = vdr-softhddevice-legacy
	pkgdesc = Software and GPU emulated HD output device plugin for VDR and older Nvidia graphics which do not support libglvnd
	pkgver = 0.6.1rc1.r65.g6dfa88a
	pkgrel = 4
	url = http://projects.vdr-developer.org/projects/plg-softhddevice
	arch = x86_64
	arch = i686
	license = AGPL3
	makedepends = git
	makedepends = glu
	depends = alsa-lib
	depends = libvdpau
	depends = libxxf86vm
	depends = vdr-api=2.4.7
	depends = xcb-util-wm
	depends = xorg-server
	optdepends = nvidia-340xx: Required for VDPAU decoding,
	optdepends = vdr-xorg: Recommended way to start X.org server together with VDR
	provides = vdr-softhddevice
	conflicts = vdr-skindesigner
	conflicts = vdr-softhddevice
	backup = etc/vdr/conf.avail/50-softhddevice.conf
	source = git://projects.vdr-developer.org/vdr-plugin-softhddevice.git#commit=6dfa88aecf1b5a4c5932ba278209d9f22676547f
	source = https://ffmpeg.org/releases/ffmpeg-2.8.17.tar.xz
	source = 50-softhddevice.conf
	sha256sums = SKIP
	sha256sums = d0734fec613fe12bee0b5a84f917779b854c1ede7882793f618490e6bbf0c148
	sha256sums = 67bb0c168042b27ead3f62a98f9b434d0164da5fe334a76ccc5dd061932d1952

pkgname = vdr-softhddevice-legacy

