pkgbase = vdr-dvbapi
	pkgdesc = A bridge between VDR and OScam.
	pkgver = 2.2.5
	pkgrel = 5
	epoch = 1
	url = https://github.com/manio/vdr-plugin-dvbapi
	arch = x86_64
	arch = i686
	license = GPL2
	makedepends = git
	depends = gcc-libs
	depends = libdvbcsa
	depends = openssl
	depends = vdr-api=2.4.7
	backup = etc/vdr/conf.avail/50-dvbapi.conf
	source = git+https://github.com/manio/vdr-plugin-dvbapi.git#commit=cd1f00caa271c02641a13c541afaa9b3c0d695c1
	source = vdr-dvbapi-Improved-socket-handling.patch::https://github.com/pipelka/vdr-plugin-dvbapi/commit/b6599c133c6efc0fd28ca6f25f90fb6484bd7532.patch
	sha256sums = SKIP
	sha256sums = cdf7262d8c7e329688aa6880719e0b422f0075bd7999fac3522d01d14e2c7fb6

pkgname = vdr-dvbapi

